PORT=5000
API_VERSION=/api/v1


DATABASE_URL=postgres://eribesobghwikp:fd4ef0ad4743899d399a4f4118ede66439b524b27a32168215f7f93e3ec6fdc5@ec2-54-237-135-248.compute-1.amazonaws.com:5432/dm0ml4ljth9bm
DEV_DATABASE_URL=postgres://postgres:@vernom28_niyo@127.0.0.1:5432/dev
TEST_DATABASE_URL=postgres://postgres:@vernom28_niyo@127.0.0.1:5432/test
TEST_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwiZmlyc3RuYW1lIjoiTGVueSIsImxhc3RuYW1lIjoiSUhJUldFIiwidGVsZXBob25lIjoiKzI1MDc4OTE0OTg0MiIsImVtYWlsIjoibGloaXJ3ZTZAZ21haWwuY29tIiwicGFzc3dvcmQiOiIkMmIkMTAkQkNtS2VLVFgyWlR3dHlmUFRwdVhndUdsbEFlRkMzdjBPcC5CZGlOMGxSNEpEZHBrS3FFbW0iLCJyb2xlIjoiTm9tYWQiLCJnZW5kZXIiOiJNYWxlIiwib3JpZ2luIjoiUndhbmRhIiwicHJvZmVzc2lvbiI6IlRvdXJpc3QiLCJhZ2UiOjIxLCJpZGVudGlmaWNhdGlvbl90eXBlIjoiSUQiLCJpZGVudGlmaWNhdGlvbl9udW1iZXIiOiIxMjM0NTY3ODkiLCJ1c2VyX2ltYWdlIjoiIiwiY3JlYXRlZEF0IjoiMjAyMS0wMS0xMFQxNzozMDo0My43ODhaIiwidXBkYXRlZEF0IjoiMjAyMS0wMS0xMFQxNzozMDo0My43ODhaIiwiaWF0IjoxNjEwMjk5ODQ3LCJleHAiOjE2MTAzMDM0NDd9.A5h2cX_46Ux5ReQtK5V9eWmGMSCStvYH2B68HtO5qIM 